* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: auto;
    border-collapse: separate;
    padding: 40px;
    border-spacing: 20px;
}

td {
    border: 20px solid green;
    background: orange;
    color: orange;
    line-height: 80px;
    column-width: 80px;
}

td:nth-child(2n) {
    background: green;
    border: 20px solid orange;
    color: green
}